.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 90px);
  }
  
  .row{
    width: auto;
  }
  
  mat-card {
    max-width: 900px;
    min-width: 400px;
    text-align: center;
    margin-top:20px;
  }
  