<div class="container">
    <div class="card-container">
      
      <div class="card">
        <div class="card-icon">➕</div>
        <h3>Hacer Ideas Creativas</h3>
        <p>Crear una nueva idea</p>
        <button class="btn blue-btn" routerLink="/app/crear">Ir a crear</button>
      </div>
      
      <div class="card">
        <div class="card-icon">💡</div>
        <h3>Ver Ideas Creativas</h3>
        <p>Explorar ideas existentes</p>
        <button class="btn gray-btn" routerLink="/app/ideas">Ver ideas</button>
      </div>
      
      <div class="card">
        <div class="card-icon">⭐</div>
        <h3>Calificar Ideas Creativas</h3>
        <p>Evaluar ideas existentes</p>
        <button class="btn orange-btn" routerLink="/app/calificar">Calificar</button>
      </div>
      
      <div class="card">
        <div class="card-icon">🏆</div>
        <h3>Ver Ranking</h3>
        <p>Explorar el ranking de ideas</p>
        <button class="btn green-btn" routerLink="/app/ranking">Ver ranking</button>
      </div>
      
      <div class="card">
        <div class="card-icon">📊</div>
        <h3>Ver Estadísticas</h3>
        <p>Analizar datos de ideas</p>
        <button class="btn light-gray-btn" routerLink="/app/estadisticas">Ver estadísticas</button>
      </div>
    
    </div>
  </div>
  