<div class="container">
  <div class="row">
    <!-- Tarjeta dinámica -->
    <ng-container *ngFor="let card of cards">
      <div 
        class="col-12 col-md-6 col-lg-4 mb-4" 
        *ngIf="canAccessCard(card)"
      >
        <div class="card" [ngClass]="card.cardClass">
          <div class="card-icon material-icons">{{ card.icon }}</div>
          <h3>{{ card.title }}</h3>
          <p>{{ card.description }}</p>
          <button class="btn" [ngClass]="card.btnClass" [routerLink]="card.route">
            {{ card.buttonText }}
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
