<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav 
    #sidenav 
    mode="side" 
    [(opened)]="isSidebarExpanded" 
    class="sidenav"
    [ngClass]="{'collapsed': !isSidebarExpanded}"
  >
    <app-sidebar [isExpanded]="isSidebarExpanded"></app-sidebar>
  </mat-sidenav>

  <!-- Contenido Principal -->
  <mat-sidenav-content class="main-content">
    <!-- Header con botón de toggle -->
    <!-- <app-header (toggleSidenav)="sidenav.toggle()"></app-header> -->
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
