/* General Styles */
.page-container {
  min-height: calc(100vh - 90px);
  padding: 15px;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.underlined {
  position: relative;
}

.underline-clip:after {
  content: '';
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 4px solid #2f56e3;
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}


/* Table Section */
.table-container {
  overflow-x: auto;
  margin-top: 20px;
  padding: 1rem;
  box-sizing: border-box;
}

.ideas-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.mat-header-row {
  background-color: #3f51b5;
  color: white;
}

.mat-header-cell, .mat-cell {
  padding: 10px 15px;
  text-align: center;
  font-size: 0.9rem;
}

.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.highlight-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #4caf50;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-weight: bold;
}

button {
  padding: 8px 16px;
  border-radius: 4px;
}
.filters-form {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espacio entre filas */
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;    /* Centrar verticalmente */
  gap: 16px;              /* Espacio entre los elementos */
  margin: auto;           /* Centrar el contenedor en el eje principal */
  max-width: 100%;        /* Evitar que se desborde */
}

.filter-field {
  flex: 1 1 calc(100% - 32px); /* Ocupa toda la fila en pantallas pequeñas */
  max-width: 250px;           /* Límite en pantallas grandes */
  min-width: 150px;           /* Ancho mínimo para evitar colapsos */
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar los botones */
  gap: 8px;               /* Espaciado entre botones */
  margin-top: 16px;       /* Espacio adicional con los filtros */
}

@media (max-width: 768px) {
  .filters-container {
    flex-direction: column; /* Cambiar a disposición vertical */
    gap: 12px;             /* Reducir espacio en pantallas pequeñas */
  }

  .filter-field, .filter-buttons {
    width: 100%;          /* Ocupan todo el ancho disponible */
    max-width: none;
  }
}
