.sidebar-container {
  display: flex;
  flex-direction: column;
  background-color: #f7faff;
  min-height: 100vh;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  background-color: #ffffff; /* Fondo claro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.menu-item.active {
  background-color: #1a237e; /* Azul del botón principal */
  color: white; /* Texto blanco */
}

.menu-item mat-icon {
  font-size: 24px;
  margin-right: 10px;
  color: inherit;
}

.menu-item span {
  font-size: 16px;
  font-weight: bold;
  color: inherit;
}

/* Cuando el sidebar esté colapsado, solo oculta el texto */
.collapsed .menu-item span {
  display: none; /* Oculta el texto */
}

/* Estilos opcionales para mejorar la apariencia */
.collapsed .menu-item mat-icon {
  margin-left: 0; /* Asegura que los íconos se alineen bien */
}
