.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s;
    border-radius: 4px; // Añade esquinas redondeadas
  
    &:hover {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); // Sombra para el relieve
      transform: translateY(-2px); // Efecto de desplazamiento
      background-color: #f5f5f5; // Cambia el fondo al pasar el mouse
    }
  
    mat-icon {
      margin-right: 10px;
      color: #4a4a4a;
    }
  
    span {
      color: #333;
      font-weight: 500;
    }
  }