<div *ngIf="ideasSinCalificar.length > 0" class="ideas-container">
  <h3 class="ideas-title">Ideas sin calificar</h3>

  <!-- Tabla con información de las ideas -->
  <div class="table-container">
    <table mat-table [dataSource]="ideasSinCalificar" class="mat-elevation-z8 ideas-table">
      <!-- Generar columnas dinámicamente -->
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
          {{ column | titlecase }}
        </th>
        <td mat-cell *matCellDef="let element" class="mat-cell">
          <!-- Manejo especial para la columna de acciones -->
          <ng-container *ngIf="column === 'acciones'; else archivoCell">
            <button
              mat-raised-button
              color="primary"
              (click)="seleccionarIdea(element)">Calificar
            </button>
          </ng-container>

          <!-- Manejo especial para la columna de archivos -->
          <ng-template #archivoCell>
            <ng-container *ngIf="column === 'archivos'; else defaultCell">
              <button
                mat-raised-button
                color="accent"
                (click)="verArchivos(element[column])">
                Ver Archivos
              </button>
            </ng-container>
          </ng-template>

          <!-- Manejo por defecto para otras columnas -->
          <ng-template #defaultCell>
            {{ element[column] }}
          </ng-template>
        </td>
      </ng-container>

      <!-- Encabezados y filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></tr>
    </table>
  </div>
</div>

<div *ngIf="ideasSinCalificar.length === 0" class="no-ideas">
  <p>No hay ideas sin calificar.</p>
</div>
