.page-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  min-height: calc(100vh - 90px);
  background-color: #f0f0f5; 
}

.idea-create-container {
  max-width: 600px;
  margin-top: 20; /* Asegura que no haya espacio adicional */
  padding: 30px;
  background: linear-gradient(to bottom right, #ffffff, #f7f7f7);
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.full-width {
  width: 100%;
  margin-bottom: 24px;
}

.mat-form-field {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 4px 12px;
}

.mat-form-field.mat-focused {
  background: #ffffff;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-color: #5a6ee0;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-color: #5a6ee0;
}

.button-container {
  text-align: center;
  margin-top: 30px;
}

.submit-button {
  padding: 12px 36px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.submit-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.file-upload-container {
  
  display: flex;
  align-items: center;
  gap: 8px;
}

.file-upload-label {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.file-upload-label mat-icon {
  margin-right: 8px;
}

.file-upload-input {
  display: none; /* Oculta el input nativo */
}

.file-upload-container span {
  font-size: 0.875rem;
  color: #666;
}


h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  text-align: center;
}


.underlined {
/*   background: red; */
  position: relative;
}
.underline-overflow {
  display: inline-block;
  /* A little extra padding and overflow hidden   */
  overflow: hidden;
  padding-bottom: clamp(1rem, 2vmin, 2rem);
}

.underline-clip:after {
  content: '';
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 4px solid #2f56e3;
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}