/* You can add global styles to this file, and also import other style files */

html, body { 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-row:hover {
    background-color: #f1f1f1;  /* Color de fondo al pasar el mouse */
    cursor: pointer;  /* Cambia el cursor a una mano para indicar que es interactivo */
  }
